#authorPageBG {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 157, 255);
    z-index: 0;
}

#authorText {
    position: relative;
    z-index: 1;
}